= link_to "#", :class => "link" do
  .each-colle
    = image_tag collection.avatar.url, :class => "img-responsive img-collection"
    %h3.img-colle-title1
      = collection.title
    %h4.img-colle-title2
      = collection.subtitle
