%header
  .image-bg-fluid-height
  .intro-message
    %h1.p-banner Opportunity & Inspiration <br>for STEM Students
    %p.p-banner2 SCIENCES | TECH | ENGINEERING | MATH
.container
  .row.main
    .col-xs-2.col-sm-3.col-md-2.col-lg-2.col-xs-offset-0.left.desktop
      #close{:data => { :spy => 'affix'}}
        %hr.left-hr
          %ul.ul-left1
            %li Home
            %li Collections
            %li Community
    .col-xs-9.col-sm-8.col-md-9.col-lg-9.right-collection.desktop
      .mid-top-collection
        %h4.font-w-200 Collections
      .list-collection
        = render partial: "collection", collection: @collections
    .col-xs-12.middle.mobile
      .mid-top-collection
        %h4.font-w-200 Collections
      .list-collection
        = render partial: "collection", collection: @collections
