.col-xs-8.col-sm-12.col-md-8.col-lg-8.middle_about1
  .about-div
    .mid-top1
      %h4.font-w-200 About
    .mid-second1
      .col-xs-4
        = image_tag("bitmap@3x2.png", class: "img-partner2")
        = link_to "https://gotryit.org", :class => "LinkBanner" do
          .tryitBtn4
            Learn More
      .col-xs-8.colAbout
        %p.p1
          Be an online activist for the U.N. Volunteer for international development organizations all over the world–from home!<br><br> The United Nations supports organizations working for peace and development by connecting them with online volunteers.
          <br><br>
          etc. etc. etc.
          <br><br>
        %p.p2
          Be an online activist for the U.N. Volunteer for international development organizations all over the world–from home!
          <br><br>
          The United Nations supports organizations working for peace and development by connecting them with online volunteers.
          <br><br>
          etc. etc. etc.
  .experi-div
    .mid-top2
      %h4.font-w-200 Suggested
    .mid-second
      %ul.list-middle
        = render :partial => '/experiences/experience', :collection => Experience.all

.col-xs-3.col-md-4.col-lg-4.hidden-sm
  .col-xs-12.right-top2
    .left-top
      %h5.right-titles TOP COLLECTIONS
    .left-top2
      %ol.collection_list
        = render :partial => '/collections/top', :collection => Collection.all
