  %li
    .mid-div
      .row.mid-row
        .col-xs-4.col-lg-3
          = experience.img
        .col-xs-8.col-lg-9
          .col-xs-12.title
            %h2.h4-title = experience.title
          .col-xs-12.substitle
            %h3.h5-subtitle = experience.subtitle
          .col-xs-12
            .col-xs-6.col-sm-5.col-md-3.col-lg-3.col-upvote
              %button{:class => 'btn btn-primary upvote', :type => 'button'}
                Upvote
