.col-xs-8.col-sm-12.col-md-8.col-lg-8.middle
  .mid-top
    %h4.font-w-200 Today
  .mid-second
    %ul.list-middle
      = render :partial => '/experiences/experience', :collection => Experience.all
.col-xs-3.col-md-4.col-lg-4.hidden-sm
  .col-xs-12.right-top
    .left-top
      %h5.right-titles FEATURED EXPERIENCES
    .left-top2
      = image_tag("tryit-partner-logos-v-20.png", class: "img-partner")
  .col-xs-12.right-top2
    .left-top
      %h5.right-titles TOP COLLECTIONS
    .left-top2
      %ol.collection_list
        = render :partial => '/collections/collection', :collection => Collection.all
