.col-xs-9.middle
  %h4.font-w-200 My City
  %h5.font-w1-200 Request your city #{link_to 'here', '#'}
  %br
  %hr
  %row
    .col-xs-4.col-lg-2
      = image_tag("bitmap@3x2.png", class: "img-middle-div")
    .col-xs-8.col-lg-10
      .col-xs-12.title
        %h4.h4-title Volunteer Online with the United Nations
      .col-xs-12.substitle
        %h5.h5-subtitle The most viewed talks on health & medicine
      .col-xs-12
        .col-xs-12.col-lg-4.buttons
          .col-xs-6.col-upvote
            %button{:class => 'btn btn-default upvote', :type => 'button'}
              Upvote
          .col-xs-6.col-share
            %button{:class => 'btn btn-primary share', :type => 'button'}
              Share
.col-xs-3
  .col-lg-12.right-top
    %h5 FEATURED EXPERIENCES
    %hr
  .col-lg-12.right-top2
    %h5 TOP COLLECTIONS
    %hr
