.col-xs-8.col-sm-12.col-md-8.col-lg-8.middle
  .mid-top
    %h4.font-w-200 Today
  .mid-second
    %ul.list-middle
      = render :partial => '/experiences/experience', :collection => Experience.all
      -# = render partial: "experience", collection: @experiences
      -# %li
      -#   .mid-div
      -#     .row.mid-row
      -#       .col-xs-4.col-lg-3
      -#         = image_tag("bitmap@3x2.png", class: "img-middle-div")
      -#       .col-xs-8.col-lg-9
      -#         .col-xs-12.title
      -#           %h2.h4-title Top 3 TED Medical Talks of All Time
      -#         .col-xs-12.substitle
      -#           %h3.h5-subtitle The most viewed talks on health & medicine
      -#         .col-xs-12
      -#           .col-xs-6.col-sm-5.col-md-3.col-lg-3.col-upvote
      -#             %button{:class => 'btn btn-primary upvote', :type => 'button'}
      -#               Upvote
      -# %li
      -#   .mid-div
      -#     .row.mid-row
      -#       .col-xs-4.col-lg-3
      -#         = image_tag("bitmap@3x2.png", class: "img-middle-div")
      -#       .col-xs-8.col-lg-9
      -#         .col-xs-12.title
      -#           %h2.h4-title Top 3 TED Medical Talks of All Time
      -#         .col-xs-12.substitle
      -#           %h3.h5-subtitle The most viewed talks on health & medicine
      -#         .col-xs-12
      -#           .col-xs-6.col-sm-5.col-md-3.col-lg-3.col-upvote
      -#             %button{:class => 'btn btn-primary upvote', :type => 'button'}
      -#               Upvote
.col-xs-3.col-md-4.col-lg-4.hidden-sm
  .col-xs-12.right-top
    .left-top
      %h5.right-titles FEATURED EXPERIENCES
    .left-top2
      = image_tag("tryit-partner-logos-v-20.png", class: "img-partner")
  .col-xs-12.right-top2
    .left-top
      %h5.right-titles TOP COLLECTIONS
    .left-top2
      %ol.collection_list
        = render :partial => '/collections/collection', :collection => Collection.all
