%header
  .image-bg-fluid-height2
    .intro2
      %h1.p-banner-about Volunteer Online with the <br>United Nations
      %p.p-banner2 Find placements at the top tech companies <br>in the world
      %hr
      .banner-images
        = link_to "https://gotryit.org", :class => "" do
          .tryitBtn
        -# = link_to image_tag("group-6.png", class: ""), "https://gotryit.org", :target => "_blank"
        -# = link_to image_tag("group-2.png", class: "img-responsive"), "http://www.facebook.com/sharer.php?u=URL", :target => "_blank"
        -# = image_tag "group-2.png", :class => ""
        -# = image_tag "group.png", :class => ""
.container
  .row.main
    .col-xs-2.col-sm-3.col-md-2.col-lg-2.col-xs-offset-0.left.desktop
      #close{:data => { :spy => 'affix'}}
        %hr.left-hr
          %ul.ul-left1
            %li Home
            %li
              = link_to 'Collections', '/collections/'
            %li Community
    .col-xs-9.col-sm-8.col-md-9.col-lg-9.desktop
      = render 'aboutPartial'
    .col-xs-12.middleAbout.mobile
      .about-divMobile
        .mid-top1
          %h4.font-w-200 About
        .mid-second1
          This is the description text which may include bullet points lorem ipsum. Latin, Greek, etc. et.c like this and this And then some more information here, and here , and here and here.
      .experi-div
        .mid-top2
          %h4.font-w-200 Suggested
        .mid-second
          %ul.list-middleAbout
            = render :partial => '/experiences/experience', :collection => Experience.all
