.container
  .row
    .col-xs-12
      = link_to image_tag("try_it.png", class: "img-tryit2"), "https://gotryit.org", :target => "_blank"
    .col-xs-12
      %h4.text-center#about-title1 We connect youth to the world's best learning experiences.
      %p.text-center#about-title2 TryIt surfaces the best new Science, Tech, <br>Engineering, and Math opportunities and <br>inspiration, every day. It’s a place for<br>students to discover, share, and engage as<br>they begin to explore career paths.
    .col-xs-12
      %table.center
        %tr
          %th.th-top#tp1 Partner
          %th.th-top#tp2 Volunteer
          %th.th-top#tp3 Contact
        %tr
          %td.td-down#tp4 partner@gotryit.org
          %td.td-down#tp5 hr@gotryit.org
          %td.td-down#tp6 info@gotryit.org
    .col-xs-12
      = image_tag("team-photos.png", class: "img-team")
