%header
  .image-bg-fluid-height
  .intro-message
    %h3.h3-banner Explore your career interests.
    %h2.h2-banner Build your resume.
.row
  .col-lg-12
    .col-lg-2.right
      %section.sec-2
        %span.sp-r1
          %b Home
        %hr
        %ul
          %li Online
          %li In-person
          %li Collections
      %section.sec-2
        %span.sp-r1
          %b CATEGORIES
        %hr
        %ul
          %b STEM:
          %br
          Science, Technology,
          %br
          Engneering & Math
    .col-lg-10
      = render 'homePartial'
